:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --main-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --third--text--color: #757575;
    --dark-text-color: #000000;
    --accent-text-color: #2196F3;
    --main-bg-cl: #2F303A;

    --items: 3;
    --indent: 30px;

    /* flex-basis: calc((100% - var(--imdent) * var(--items) - 1)) / var(--items); */
}
body {
    font-family: var(--main-font);
    color: var(--main-text-color);
}

/* reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}

/* base styles */
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* card set */

/* header */
.header {
    border-bottom: 1px solid #ECECEC;
}
.start {
    display: flex;
    align-items: center;
}
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);
}
.logo .colortext {
    color: var(--accent-text-color);
}
.nav {
    margin-left: 93px;
}

.site-nav {
    display: flex;
    gap: 50px;
}
.nav-item .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.nav-item .link:hover,
.nav-item .link:focus {
    color: var(--accent-text-color);
}
.nav-item .current {
    color: var(--accent-text-color);
}
.site-contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}
.contacts-item .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third--text--color)
}
.contacts-item .link:hover,
.contacts-item .link:focus {
    color: var(--accent-text-color);
}
/* linear-gradient(#2F303A, #C4C4C4) */
/* main */
.hero {
    padding: 200px 0;
    background-color: var(--main-bg-cl);
    background-image: url(../images/back/hero.jpg);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}
.hero-button {
    display: block;
    margin: 0 auto;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: 0;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}
.benefits-list {
    display: flex;
    gap: 30px;
}
.benefits-item {
    width: 270px;
}
.benefits-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}
.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third--text--color);
}
.activity {
    padding-top: 0;
}
.activity-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.team {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.team-galary {
    display: flex;
    gap: 30px;
}
.team-item {
    width: 270px;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-wrapper {
    padding: 30px 0;
}
.name {
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
    margin-bottom: 10px;
}
.position {
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
    color: var(--third--text--color);
}

/* main portfolio */
.filter-galary {
    display: flex;
    justify-content: center;
    gap: 8px;

    margin-bottom: 50px;
}
.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-text-color);
}
.project-galary {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-wrapper {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}
.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--third--text--color);
}

/* footer */
.footer {
    padding: 60px 0;
    background-color: var(--main-bg-cl);
}
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
.footer-logo
.colortext-other {
    color: var(--secondary-text-color);
}
.footer-address {
    font-style: normal;
    margin-top: 20px;
}
.footer-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 9px;
}
.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-contacts .link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third--text--color);
}
.footer-contacts .link:hover, 
.footer-contacts .link:focus {
    color: var(--accent-text-color);
}
